# Dependências
node_modules/
**/node_modules/

# Builds
dist/
**/dist/

# Variáveis de ambiente
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*

# Sistema operacional
.DS_Store
Thumbs.db

# VS Code
.vscode/

teste-carga/